SUPABASE_URL=
SUPABASE_ANON_KEY=

REVENUECAT_FLUTTER_IOS_SDK_KEY=
REVENUECAT_FLUTTER_ANDROID_SDK_KEY=
REVENUECAT_IOS_API_KEY=
REVENUECAT_ANDROID_API_KEY=
REVENUECAT_ENTITLEMENT_PLUS=mort_plus
REVENUECAT_ENTITLEMENT_AD_FREE=mort_ad_free
REVENUECAT_ENTITLEMENT_ADULT_PRO=mort_adult_pro
REVENUECAT_ENTITLEMENT_GUARDIAN_PLUS=mort_guardian_plus
REVENUECAT_ENTITLEMENT_USERNAME_TOKEN=mort_username_change_token
REVENUECAT_ENTITLEMENT_JOB_BOOST=mort_job_boost
REVENUECAT_ENTITLEMENT_PROFILE_STYLE_PACK=mort_profile_style_pack

ADMOB_IOS_APP_ID=ca-app-pub-9412242686563958~6217664808
ADMOB_IOS_BANNER_AD_UNIT_ID=ca-app-pub-9412242686563958/2438237282
ADMOB_IOS_REWARDED_AD_UNIT_ID=ca-app-pub-9412242686563958/1223146979
ADMOB_IOS_INTERSTITIAL_AD_UNIT_ID=
ADMOB_IOS_NATIVE_AD_UNIT_ID=

ADMOB_ANDROID_APP_ID=
ADMOB_ANDROID_BANNER_AD_UNIT_ID=
ADMOB_ANDROID_REWARDED_AD_UNIT_ID=
ADMOB_ANDROID_INTERSTITIAL_AD_UNIT_ID=
ADMOB_ANDROID_NATIVE_AD_UNIT_ID=

ADS_ENABLED=false
USE_TEST_ADS=true
IAP_ENABLED=false
