PRODUCT_BUNDLE_IDENTIFIER = com.mortapp.mobile
PRODUCT_NAME = MORT
MARKETING_VERSION = 1.0
CURRENT_PROJECT_VERSION = 1
IPHONEOS_DEPLOYMENT_TARGET = 17.0
SWIFT_VERSION = 5.9
TARGETED_DEVICE_FAMILY = 1,2
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor

MORT_ADMOB_APP_ID = ca-app-pub-9412242686563958~6217664808
MORT_ADMOB_BANNER_ID = ca-app-pub-9412242686563958/2438237282
MORT_ADMOB_REWARDED_ID = ca-app-pub-9412242686563958/1223146979
MORT_ADS_ENABLED = NO
MORT_USE_TEST_ADS = YES
